@use "variables" as *;
/* Reset default browser styles */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* Forms */
.form-group {
  margin-bottom: 1.5rem;

  label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    background-color: #fff;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }
}
