/* Utility classes */
.visually-hidden {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}

.text-center {
  text-align: center;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
