@use "../assets/scss/variables.scss" as *;

.layout {
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    flex: 1 1 auto;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
  }
  main {
    flex: 1 1 auto;
    padding: 0px 77px;
  }
}
