.login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
}
  
.actions {
    text-align: right;
}

.actions span {
    margin-right: 5px;
    font-size: 14px;
    color: #333;
}